
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es-MX" xml:lang="es-MX">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>EstadisticasGlobales</title>

        {% load static %}
		<link href="{% static 'style.css'  %}" rel="stylesheet" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type="text/javascript" src="{% static 'function.js'  %}"></script>

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
          google.charts.load('44', {'packages':['bar','corechart']});
      
          google.charts.setOnLoadCallback(drawChart);
          
          google.charts.setOnLoadCallback(drawChart1);
    
          google.charts.setOnLoadCallback(drawChart2);
          google.charts.setOnLoadCallback(drawChart3);
          google.charts.setOnLoadCallback(drawChart4);
          google.charts.setOnLoadCallback(drawChart5);
          google.charts.setOnLoadCallback(drawChart6);
          google.charts.setOnLoadCallback(drawChart7);
          google.charts.setOnLoadCallback(drawChart8);
          google.charts.setOnLoadCallback(drawChart9);
          google.charts.setOnLoadCallback(drawVisualization);
          google.charts.setOnLoadCallback(drawChartarea);
    
    
          /*function drawChart() {
            var data = google.visualization.arrayToDataTable({{losDatos|safe}});
    
            var options = {
                backgroundColor: 'transparent',
              bars: 'vertical' // Required for Material Bar Charts.
            };
    
            var chart = new google.charts.Bar(document.getElementById('barchart_material'));
    
            chart.draw(data, google.charts.Bar.convertOptions(options));
            
          }*/


          function drawChart() {
            var data = google.visualization.arrayToDataTable({{losDatos|safe}});
    
            /*var options = {
                backgroundColor: 'transparent',
              bars: 'vertical', // Required for Material Bar Charts.
              colors: ['red', 'blue', 'yellow'],
            };*/

            var options = {
                legend: {
        position: "none"
    },
    hAxis: {
        textStyle: {
            color: "#000",
            fontName: "sans-serif",
            fontSize: 20,
            bold: true,
            italic: false
        }
    },
    vAxis: {
        textStyle: {
            color: "#000",
            fontName: "sans-serif",
            fontSize: 20,
            bold: true,
            italic: false
        }
    },

      colors: ['pink'],
      is3D:true
};
    
            var chart = new google.charts.Bar(document.getElementById('barchart_material'));
    
            chart.draw(data, google.charts.Bar.convertOptions(options));
           
            
          }
    
    
        function drawChart1() {
        var data = google.visualization.arrayToDataTable({{losDatos1|safe}});
    
    
        var options = {
          backgroundColor: 'transparent',
          chartArea:  {left:57,top:55,width:'73%',height:'72%'},
          is3D: true,
        };
    
        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
    
    
      function drawChart2() {
            var data = google.visualization.arrayToDataTable({{losDatos2|safe}});
    
            /*var options = {
                backgroundColor: 'transparent',
              bars: 'vertical', // Required for Material Bar Charts.
              colors: ['red', 'blue', 'yellow'],
            };*/

            var options = {
                bars: 'vertical',
                legend: {
        position: "none"
    },
    hAxis: {
        textStyle: {
            color: "#000",
            fontName: "sans-serif",
            fontSize: 20,
            bold: true,
            italic: false
        }
    },
    vAxis: {
        textStyle: {
            color: "#000",
            fontName: "sans-serif",
            fontSize: 20,
            bold: true,
            italic: false
        }
    },

      colors: ['gold'],
};
    
            var chart = new google.charts.Bar(document.getElementById('barchart_material2'));
    
            chart.draw(data, google.charts.Bar.convertOptions(options));
           
            
          }
    
    
          function drawChart1() {
        var data = google.visualization.arrayToDataTable({{losDatos1|safe}});
    
    
        var options = {
          backgroundColor: 'transparent',
          legend: {
            textStyle: {
            color: "#000",
            fontName: "sans-serif",
            fontSize: 17,
            bold: true,
            italic: false
        }
    },
          chartArea:  {left:57,top:55,width:'73%',height:'72%'},
          is3D: true,
        };
    
        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
      }
    
    
      function drawChart3() {
        var data = google.visualization.arrayToDataTable({{losDatos3|safe}});
    
            var options = {
            backgroundColor: 'transparent',
            colors: ['lightblue', 'red'], 
            legend: {
            textStyle: {
            color: "#000",
            fontName: "sans-serif",
            fontSize: 17,
            bold: true,
            italic: false
        }
    },
            chartArea:  {left:57,top:55,width:'73%',height:'72%'},
              pieHole: 0.4,
            };
    
            var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
            chart.draw(data, options);
          }
    
          function drawChart4() {
        var data = google.visualization.arrayToDataTable({{losDatos4|safe}});
    
            var options = {
            backgroundColor: 'transparent',
            colors: ['black', 'grey'], 
            legend: {
            textStyle: {
            color: "#000",
            fontName: "sans-serif",
            fontSize: 17,
            bold: true,
            italic: false
        }
    },
            chartArea:  {left:57,top:55,width:'73%',height:'72%'},
              pieHole: 0.4,
            };
    
            var chart = new google.visualization.PieChart(document.getElementById('donutchart1'));
            chart.draw(data, options);
          }
    
          function drawChart5() {
        var data = google.visualization.arrayToDataTable({{losDatos5|safe}});
    
            var options = {
            backgroundColor: 'transparent',
            colors: ['purple', 'orange'], 
            legend: {
            textStyle: {
            color: "#000",
            fontName: "sans-serif",
            fontSize: 17,
            bold: true,
            italic: false
        }
    },
            chartArea:  {left:57,top:55,width:'73%',height:'72%'},
              pieHole: 0.4,
            };
    
            var chart = new google.visualization.PieChart(document.getElementById('donutchart2'));
            chart.draw(data, options);
          }
    
    
          function drawChart6() {
            var data = google.visualization.arrayToDataTable({{losDatos6|safe}});
    
            var options = {
              backgroundColor: 'transparent',
              bars: 'vertical', 
              legend: {
        position: "none"
    },
    hAxis: {
        textStyle: {
            color: "#000",
            fontName: "sans-serif",
            fontSize: 17,
            bold: true,
            italic: false
        }
    },
    vAxis: {
        textStyle: {
            color: "#000",
            fontName: "sans-serif",
            fontSize: 17,
            bold: true,
            italic: false
        }
    },

      colors: ['brown'], 
            };
    
            var chart = new google.charts.Bar(document.getElementById('barchart_material3'));
    
            chart.draw(data, google.charts.Bar.convertOptions(options));
            
          }
    
          function drawChart7() {
            var data = google.visualization.arrayToDataTable({{losDatos7|safe}});
    
            var options = {
                backgroundColor: {fill:'transparent'},
              bars: 'horizontal',

              legend: {
        position: "none"
    },
    hAxis: {
        textStyle: {
            color: "#000",
            fontName: "sans-serif",
            fontSize: 17,
            bold: true,
            italic: false
        }
    },
    vAxis: {
        textStyle: {
            color: "#000",
            fontName: "sans-serif",
            fontSize: 17,
            bold: true,
            italic: false
        }
    },

      colors: ['silver'], // Required for Material Bar Charts.
            };
    
            var chart = new google.charts.Bar(document.getElementById('barchart_material4'));
    
            chart.draw(data, google.charts.Bar.convertOptions(options));
            
          }
    
          function drawChart8() {
            var data = google.visualization.arrayToDataTable({{losDatos8|safe}});
    
            var options = {
                backgroundColor: 'transparent',
              bars: 'horizontal', 
              legend: {
        position: "none"
    },
    hAxis: {
        textStyle: {
            color: "#000",
            fontName: "sans-serif",
            fontSize: 17,
            bold: true,
            italic: false
        }
    },
    vAxis: {
        textStyle: {
            color: "#000",
            fontName: "sans-serif",
            fontSize: 17,
            bold: true,
            italic: false
        }
    },

      colors: ['red'],
      is3D:true // Required for Material Bar Charts.
            };
    
            var chart = new google.charts.Bar(document.getElementById('barchart_material5'));
    
            chart.draw(data, google.charts.Bar.convertOptions(options));
            
          }
    
          function drawChart9() {
            var data = google.visualization.arrayToDataTable({{losDatos9|safe}});
    
            var options = {
                backgroundColor: 'transparent',
                bars: 'horizontal', 
              legend: {
        position: "none"
    },
    hAxis: {
        textStyle: {
            color: "#000",
            fontName: "sans-serif",
            fontSize: 17,
            bold: true,
            italic: false
        }
    },
    vAxis: {
        textStyle: {
            color: "#000",
            fontName: "sans-serif",
            fontSize: 17,
            bold: true,
            italic: false
        }
    },

      colors: ['purple'], // Required for Material Bar Charts.
            };
    
            var chart = new google.charts.Bar(document.getElementById('barchart_material6'));
    
            chart.draw(data, google.charts.Bar.convertOptions(options));
            
          }
    
    
          function drawVisualization() {
            // Some raw data (not necessarily accurate)
            var data = google.visualization.arrayToDataTable({{losDatos10|safe}});
            var options = {
              backgroundColor: 'transparent',
              legend: {
            textStyle: {
            color: "#000",
            fontName: "sans-serif",
            fontSize: 17,
            bold: true,
            italic: false
        }
    },
              hAxis: {
        textStyle: {
            color: "#000",
            fontName: "sans-serif",
            fontSize: 20,
            bold: true,
            italic: false
        }
    },
    vAxis: {
        textStyle: {
            color: "#000",
            fontName: "sans-serif",
            fontSize: 20,
            bold: true,
            italic: false
        }
    },

      colors: ['white', 'black'],
              chartArea:  {left:50,top:30,width:'74%',height:'73%'},
              //vAxis: {title: 'Intentos'},
              //hAxis: {title: 'Día'},
              seriesType: 'bars',
              series: {3: {type: 'line'}}
            };
    
            var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
            chart.draw(data, options);
          }



          function drawChartarea() {
        var data = google.visualization.arrayToDataTable({{losDatos11|safe}});
    
    
        var options = {
          backgroundColor: 'transparent',
          colors: ['orange', 'black', 'blue'],
          legend: {
            textStyle: {
            color: "#000",
            fontName: "sans-serif",
            fontSize: 17,
            bold: true,
            italic: false
        }
    },
          chartArea:  {left:57,top:55,width:'73%',height:'72%'},
          is3D: true,
        };
    
        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d_2'));
        chart.draw(data, options);
      }
        </script>




  
	</head>



	
	<header class ="main">
		<div class="stats">
		 <button class="bstats" onclick="location.href='http://127.0.0.1:8000/GAMESTEAM'"><span> <b> GAME & STEAM </b> </span> </button> 
         <!--<button class="bstats" onclick="location.href='http://13.65.45.197:8000/GAMESTEAM'"><span> <b> GAME & STEAM </b> </span> </button> -->
		</div>
  		<h1>Estadísticas GAME & STEAM</h1>

	</header>

    <br>
    <br>

    <header class ="user">
        <h1 class="usertitle">Estadísticas de Puntuación</h1>
      </header>
    
    <section>
    
      <body>
    
        <div class="row">
        
        <div class="column1">
    
          <h2 class="weird"><u>Top scores globales</u></h2>
    
          <!--<div id="columnchart_valuesTopScores" style="width: 700px; height: 450px;"></div>-->
          <div id="barchart_material2" style="width: 810px; height: 500px;"></div>
          
    
        </div>
    
    
        
        <div class= "column2">
          <h2 class="weird"><u>Top scores minijuego Mezclas</u></h2>
    
           <!-- <div id="table_div" style="width: 593px; height: 450px;"></div> -->
           <div id="barchart_material5" style="width: 700px; height: 500px;"></div>
    
    
        </div>
        
      </div>

      <nobr>
        <div class="row">
        <div class="column32">
          
          <h2 class= "weird"><u>Top scores minijuego Math Runner</u></h2>
            <!--<div id="columnchart_values" style="width: 700px; height: 450px;"></div>-->
            <div id="barchart_material6" style="width: 810px; height: 500px;"></div>
    
        </div>
    
        <div class= "column42">
    
          <h2><u>Top scores minijuego Básquetbol Parabólico</u></h2>
    
              <!--<div id="donutchart" style="width: 900px; height: 450px;"></div>-->
              <div id="barchart_material4" style="width: 700px; height: 500px;"></div>
              
        </div>
      </div>
    </nobr>

    <br>
    <br>
    <br>







  <header class ="user2">
    <h1 class="usertitle">Indicadores globales</h1>
  </header>

<section>

  <body>

    <div class="row">
    
    <div class="column1">

      <h2 class="weird"><u>Área favorita de los usuarios</u></h2>

      <!--<div id="columnchart_valuesTopScores" style="width: 700px; height: 450px;"></div>-->
      <div id="piechart_3d_2" style="width: 1050px; height: 500px;"></div>
    </div>


    
    <div class= "column2">
      <h2 class="weird"><u>Segundos Jugados Totales</u></h2>

       <!-- <div id="table_div" style="width: 593px; height: 450px;"></div> -->
       <div id="barchart_material" style="width: 850x; height: 500px;"></div>


    </div>
    
  </div>

  <!--<hr size="15" width="100%" color="black">-->

  <nobr>
    <div class="row">
    <div class="column3">
      
      <h2 class= "weird"><u>Número de usuarios por género</u></h2>
       <!-- <p id="curve_chart" style="width: 850px; height: 454px"></p> -->
       <p id="donutchart" style="width: 1050px; height: 504px;"></p>

    </div>

    <div class= "column4">

      <h2 class="weird"><u>Edad promedio de jugadores</u></h2>

       <!-- <div id="piechart_3d" style="width: 900px; height: 450px;"></div> -->
       <div id="piechart_3d" style="width: 900px; height: 500px;"></div>

    </div>
  </div>
</nobr>



  <nobr>
    <div class="row">
    <div class="column3">
      
      <h2 class= "weird"><u>Menor vs mayor tiempo jugado por minijuego</u></h2>
        <!--<div id="columnchart_values" style="width: 700px; height: 450px;"></div>-->
        <div id="chart_div" style="width: 870px; height: 500px;"></div>
        

    </div>

    <div class= "column4">

      <h2><u>Mayor permanencia en línea por género</u></h2>

          <!--<div id="donutchart" style="width: 900px; height: 450px;"></div>-->
          <div id="donutchart2" style="width: 900px; height: 500px;"></div>

    </div>
  </div>
</nobr>



<nobr>
    <div class="row">
    <div class="column32">
      
      <h2 class= "weird"><u>Tiempo promedio de actividad por minijuego</u></h2>
        <!--<div id="columnchart_values" style="width: 700px; height: 450px;"></div>-->
        <div id="barchart_material3" style="width: 810px; height: 500px;"></div>
    </div>

    <div class= "column42">

      <h2><u>Género que ha completado el juego en menos de 100 segundos</u></h2>

          <!--<div id="donutchart" style="width: 900px; height: 450px;"></div>-->
          <div id="donutchart1" style="width: 900px; height: 500px;"></div>

    </div>
  </div>
</nobr>

			<hr size=5 width="100%" color="black">

	<footer>
       	<div class="downfoo">
			<b>Autores:</b> Diego Enrique Manzanarez Velázquez    |   Santiago Orozco Quintero    |   Luis Enrique Bojórquez Almazán   |   Jesus Javier Hernández Delgado
        </div>
        <nav>
            <a class="links" href="https://movimientosteam.org/historia-2/">Historia Movimiento STEAM</a>
            <br>
			<br>
			<img class="links" src="{% static 'by.png' %}" alt="by" width="20" height="40" /></nav>

        </nav>
	</footer>

	</body>

</section>


</html>
