
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es-MX" xml:lang="es-MX">
	<head>
		{% load static %}
		<link href="{% static 'styling.css'  %}" rel="stylesheet" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>GAME&STEAM</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{% static 'styling.css'  %}" rel="stylesheet" />
		<script type="text/javascript" src="{% static 'funcs.js'  %}"></script>
	</head>

	
	<header>
  		<h1>Movimiento STEAM<br> <span class="anim"></span></h1>
  		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
  		  <polygon class="svg--sm" fill=#339501 points="0,0 30,100 65,21 90,100 100,75 100,100 0,100"/>
  		  <polygon class="svg--lg" fill=#339501 points="0,0 15,100 33,21 45,100 50,75 55,100 72,20 85,100 95,50 100,80 100,100 0,100" />
  		</svg>
	</header>

<section>

	<body>

<div class="row">	

	<div class="column lft">
    	<xli>
<ttr>
    	<p class="boxpadding">
    		<div class="boxed0">
	  		<p><em>Presiona los botones numerados para visualizar los minijuegos</em></p>
	  		</div>
	  	</p>
	


          {% load static %}


          <p class="boxed webimg">
    
            <img style= "display:none"; id= image src="{% static 'IM1.png' %}" width="500" height="360" />
            </p>
		</ttr>

            <script type="text/javascript">
                    function showPicture1_1() {
                    var sourceOfPicture = "static/IMC.png";
                    var img = document.getElementById('image')
                    img.src = sourceOfPicture.replace('30x30', '30x30');
                    img.style.display = "block";
                    } 
            </script>

            <script type="text/javascript">
                function showPicture1_2() {
                var sourceOfPicture = "static/IMQ.png";
                var img = document.getElementById('image')
                img.src = sourceOfPicture.replace('30x30', '30x30');
                img.style.display = "block";
                } 
            </script>

            <script type="text/javascript">
                function showPicture1_3() {
                var sourceOfPicture = "static/IMF.png";
                var img = document.getElementById('image')
                img.src = sourceOfPicture.replace('30x30', '30x30');
                img.style.display = "block";
                } 
            </script>





	  		<p class="firstbuttons">

		 		<button id="B1" onclick="showPicture1_1()"> <b> 1 </b> </button>
				 <b>------------</b>
		 		<button id="B2" onclick="showPicture1_2()"> <b> 2 </b> </button>
		 		<b>------------</b>
		 		<button id="B3" onclick="showPicture1_3()"> <b> 3 </b> </button>
			</p>


			<br>

	  		
	  		
	  		<h3 class="header"> ÁREAS QUE PODRÁS EXPERIMENTAR</h3>

	  			<ul>
	  				<p class="gtitle">
	  				<li><b>Física</b></li>
	  				<li><b>Química</b></li>
	  				<li><b>Computación</b></li>
	  				</p>
	  			</ul>
	  		
		</xli>
  	</div>


  	<div class="column middl">

  			<xli2>

    		<h3 class="gtitle"><b><u>GAME & STEAM</u></b></h3>
    			<p class="stars">
    				<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
					<span class="fa fa-star checked"></span>
				</p>

				{% if user.is_authenticated%}
				<!-- <a href="{% url 'logout'%}?next={{request.path}}">Logout</a>-->
				<p a style="color: greenyellow;" class ="button1"><b>Sesión: Iniciada como {{user.get_username}} </b></p>
				<p class = "button1"><a style="color: red;" href="{% url 'logout'%}?next=/GAMESTEAM">Logout</a> </p>
				{% else %}
				<p a style="color:red ;" class ="button1">Sesión: No iniciada </p>
				<p class = "button1"><a style="color:greenyellow;" href="{% url 'login'%}?next=/GAMESTEAM">Login</a> </p>
				{% endif %}

				<script type="text/javascript">
					function openForm() {
						document.getElementById("popupForm").style.display = "block";
					} 
				</script>

				<script type="text/javascript">		  
					function closeForm() {
						document.getElementById("popupForm").style.display = "none";
					} 
				</script>

				
				{% if user.is_authenticated%}
    			 <p class="button1">
    			 <!--	<button class="bstats" onclick="location.href='http://127.0.0.1:8000/accounts/register/'"><span><b> Jugar</b></span></button>-->
				 <button class="bstats"  onclick="location.href='{% url 'login'%}?next=/accounts/login/'"><span><b><u>JUGAR</u></b></span></button>
				 {% else %}
				 <p class="button1">
					<!--	<button class="bstats" onclick="location.href='http://127.0.0.1:8000/accounts/register/'"><span><b> Jugar</b></span></button>-->
					<button class="bstats" onclick="openForm()"><span><b>Registrarme</b></span></button>
				 {% endif %}
				 <br>



    			 	<button class="bstats" onclick="location.href='http://52.171.195.250:8000/Estadisticas'"> <span><b>Mis Estadísticas</b></span></button>
					 <br>
					<button class="bstats" style="background-image: linear-gradient(to bottom, orangered, lightblue);"onclick="location.href='http://52.171.195.250:8000/EstadisticasGlobales'"> <span><b>Estadísticas Globales</b></span></button>
	  			</p>
	  		</xli2>	


	  		<div class="loginPopup">
				<div class="formPopup" id="popupForm">
				
				<form action="nuevo_usuario" class="formContainer" method = "POST">
					
					{% csrf_token %}
				 <h2 class="formheader">Registro GAME & STEAM</h2>
				 <button type="button" class="btn cancel" style="background-color:orangered; color:white;" onclick="location.href='{% url 'login'%}?next=/accounts/login/'">Ya tengo cuenta</button>
	   
				 <label for="Nombre">
				   <strong>Usuarname</strong>
				 </label>
				 <input type="text" id="Nombre" placeholder="Username" name="Nombre" required>
	   
				 <label for="Edad">
				   <strong>Edad</strong>
				 </label>
				 <input type="number" id="Edad" placeholder="Edad en años" name="Edad" required>
	   
				 <label for="Genero">
				   <strong>Género</strong>
				 </label>
				 <!--<input type="text" id="Genero" placeholder="Femenino o masculino" name="Genero" required>-->
				 <br>
				<br>
				 <input type="radio" NAME="Genero" VALUE="Femenino"> Femenino
				<input TYPE="radio" NAME="Genero" VALUE="Masculino"> Masculino
				<br>
				<br>

				<label for="Area">
					<strong>Área Favorita</strong>
				  </label>
				  <!--<input type="text" id="Genero" placeholder="Femenino o masculino" name="Genero" required>-->
				  <br>
				 <br>
				  <input type="radio" NAME="Area" VALUE="Quimica"> Química
				 <input TYPE="radio" NAME="Area" VALUE="Fisica"> Física
				 <input TYPE="radio" NAME="Area" VALUE="Computacion"> Computación

				<br>
				<br>
	   
				 <label for="Correo">
				   <strong>Correo</strong>
				 </label>
				 <input type="email" id="Correo" placeholder="Correo" name="Correo" required>
	   
				 <label for="Password">
				   <strong>Contraseña</strong>
				 </label>
				 <input type="password" id="Contrasena" placeholder="Contraseña" name="Contrasena" required>
	   
				 <button type="submit" class="btn" >Confirmar</button>

				 <button type="button" class="btn cancel" onclick="closeForm()">Cancelar</button>
	   
			   </form>



		<!-- 
		{% block content %}

		{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Para visualizar la información es necesario llevar a cabo la identificación</p>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}" class = "formContainer">
  {% csrf_token %}
  <h2 class="formheader">Antes de comenzar, por favor inicia sesión</h2>
  <table>
    <tr>
      <td>User</td>
      <td>{{ form.username }}</td>
    </tr>
    <tr>
      <td>Pass</td>
	  <td>{{ form.username.label_tag }}</td>
      <td>{{ form.password }}</td>
    </tr>
  </table>
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}-->

		<!-- -->


      <!-- <form action="" class="formContainer" metho>
            {% csrf_token %}
          <h2 class="formheader">Antes de comenzar, por favor introduce tu nombre, edad y género</h2>

          <label for="Nombre">
            <strong>Nombre</strong>
          </label>
          <input type="text" id="Nombre" placeholder="Nombre" name="Nombre" required>

          <label for="Edad">
            <strong>Edad</strong>
          </label>
          <input type="text" id="Edad" placeholder="Edad en años" name="Edad" required>

          <label for="Genero">
            <strong>Género</strong>
          </label>
          <input type="text" id="Genero" placeholder="Femenino o masculino" name="Genero" required>

          <button type="submit" class="btn">Aceptar e ir a jugar</button>
          <button type="button" class="btn cancel" onclick="closeForm()">Cancelar</button>

		  <label for="Password">
            <strong>Género</strong>
          </label>
          <input type="password" id="Genero" placeholder="Femenino o masculino" name="Genero" required>

        </form>-->
      </div>
    </div>

    </div>

    <div class="column rght">
    	<xli2>
	  		<h3 class="hthree">Misión STEAM</h3>
	  			<p>Se propone como un interlocutor y concentrador de esfuerzos para integrar y potenciar el impacto del Ecosistema STEAM en el país, sumando a su causa a la iniciativa privada, cámaras sectoriales, OSCs, gobierno, academia, comunidad emprendedora y organismos no gubernamentales nacionales e internacionales.</p>


	  		<h3 class="hthree">Objetivo GAME & STEAM</h3>
	  			<p>Impulsar las competencias STEAM y el interés en la ingeniería y/o ciencias exactas en chicos y chicas de 12 a 18 años mediante el uso de elementos interactivos para el aprendizaje. Del mismo modo, se pretende mitigar el impacto de los estereotipos de género al fomentar la inclusión de las mujeres en las áreas STEAM.</p>

	  		<br>

	  		<!--<p class="padd">-->
            {% load static %}
            <img src="{% static 'Assist.png' %}" alt="Assist" width="450" height="265" />
	  		<!--<img src="Assist.png" alt="Assist" width="450" height="265">-->

  	</div>

</div>



		<p class="last">
		 <button id="I1" onclick="location.href='https://movimientosteam.org/'"> </button>
		 <button id="I2" onclick="location.href='https://www.facebook.com/MovimientoSTEAM/'"> </button>
		 <button id="I3" onclick="location.href='https://twitter.com/MovimientoSTEAM?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor'"> </button>
		</p>


<!--		<form action="nuevo_usuario" class="formContainer" method = "POST">
            {% csrf_token %}
          <h2 class="formheader">Antes de comenzar, por favor introduce tu nombre, edad y género</h2>

          <label for="Nombre">
            <strong>Nombre</strong>
          </label>
          <input type="text" id="Nombre" placeholder="Nombre" name="Nombre" required>

          <label for="Edad">
            <strong>Edad</strong>
          </label>
          <input type="text" id="Edad" placeholder="Edad en años" name="Edad" required>

          <label for="Genero">
            <strong>Género</strong>
          </label>
          <input type="text" id="Genero" placeholder="Femenino o masculino" name="Genero" required>

          <label for="Correo">
            <strong>Correo</strong>
          </label>
          <input type="text" id="Correo" placeholder="Correo" name="Correo" required>



		  <label for="Password">
            <strong>Contrasena</strong>
          </label>
          <input type="password" id="Contrasena" placeholder="password" name="Contrasena" required>

          <button type="submit" class="btn">Aceptar e ir a jugar</button>
          <button type="button" class="btn cancel" onclick="closeForm()">Cancelar</button>

        </form>
	-->

		<hr size="5" width="100%" color="black">

		<footer>
        <div class="downfoo">
		<b>Autores:</b> Diego Enrique Manzanarez Velázquez    |   Santiago Orozco Quintero    |   Luis Enrique Bojórquez Almazán   |   Jesus Javier Hernández Delgado
        </div>
        <nav>
            <a class="links" href="https://movimientosteam.org/historia-2/">Historia Movimiento STEAM</a>
			<br>
			<br>
			<img class="links" src="{% static 'by.png' %}" alt="by" width="20" height="40" /></nav>
        </nav>
	</footer>
	</body>
</section>
</html>
