<html xmlns="http://www.w3.org/1999/xhtml" lang="es-MX" xml:lang="es-MX">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>GAME&STEAM</title>
        {% load static %}
		<link href="{% static 'stylinglog.css'  %}" rel="stylesheet" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script type="text/javascript" src="{% static 'funcs.js'  %}"></script>
	</head>

	
	<header>
  		<h1>Movimiento STEAM<br> <span class="anim"></span></h1>
  		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
  		  <polygon class="svg--sm" fill=green points="0,0 30,100 65,21 90,100 100,75 100,100 0,100"/>
  		  <polygon class="svg--lg" fill=green points="0,0 15,100 33,21 45,100 50,75 55,100 72,20 85,100 95,50 100,80 100,100 0,100" />
  		</svg>
	</header>

    <br><br><br>

    <body>

            <ul class="logul">
                
                <p class = "logtitle" style="font-size: 48px;"><b>Error en registro</b></p>
        </ul>

        <br>
        <br>
        <br>
    

<ul class="logul">
    <p class = "logtitle" style="font-size: 34px;"><b>Ya existe un usuario registrado con ese username, por favor vuelve a la página principal y realiza tu registro con otro.</b></p>
    <a class = "indenq" href="http://127.0.0.1:8000/GAMESTEAM">
        <!--<a href="http://13.65.45.1197:8000/accounts/register/"></a>-->
        <input type="button" value="Regresar a la página web principal" />
    </a>
    
</ul>

    

<div class="stats">
    <!--<button class="bstats"onclick="location.href='http//13.65.45.197:8000/GAMESTEAM'"><span> <b> GAME & STEAM </b> </span> </button>-->
    <button class="bstats"onclick="location.href='http://127.0.0.1:8000/GAMESTEAM'"><span> <b> GAME & STEAM </b> </span> </button>
   </div>

  

<br>
<hr size="5" width="100%" color="black">
   <footer>
    <div class="downfoo">
    <b>Autores:</b> Diego Enrique Manzanarez Velázquez    |   Santiago Orozco Quintero    |   Luis Enrique Bojórquez Almazán   |   Jesus Javier Hernández Delgado
    </div>
    <nav>
        <a class="links" href="https://movimientosteam.org/historia-2/">Historia Movimiento STEAM</a>
        <br>
			<br>
			<img class="links" src="{% static 'by.png' %}" alt="by" width="20" height="40" /></nav>
    </nav>
</footer>
</body>
</html>